numpy>=1.19
scipy>=1.7
sphinx>=3.2
astropy>=5.0.4
myst-parser>=0.16
readthedocs-sphinx-search>=0.1.1
myst-nb>=0.17
joblib>=1.1
matplotlib>=3.7
sphinx>=3.2
parsl>=1.2
cython
astropy
configparser
time
tqdm
pandas
dataclasses
glidertools

